<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>
<body>
<!-- ======= Header ======= -->
<header
    th:replace="fragments/body-header :: body-header" id="header" class="fixed-top d-flex align-items-center">
</header>

<!-- ======= kakao address API ======= -->
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
    function execDaumPostcode() {
        new daum
            .Postcode({
                oncomplete: function (data) {
                    // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분. 도로명 주소의 노출 규칙에 따라 주소를 표시한다. 내려오는 변수가 값이
                    // 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                    var roadAddr = data.roadAddress; // 도로명 주소 변수
                    var extraRoadAddr = ''; // 참고 항목 변수

                    // 법정동명이 있을 경우 추가한다. (법정리는 제외) 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                    if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
                        extraRoadAddr += data.bname;
                    }
                    // 건물명이 있고, 공동주택일 경우 추가한다.
                    if (data.buildingName !== '' && data.apartment === 'Y') {
                        extraRoadAddr += (
                            extraRoadAddr !== ''
                                ? ', ' + data.buildingName
                                : data.buildingName
                        );
                    }
                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                    if (extraRoadAddr !== '') {
                        extraRoadAddr = ' (' + extraRoadAddr + ')';
                    }

                    // 우편번호와 주소 정보를 해당 필드에 넣는다.
                    document
                        .getElementById('zipcode')
                        .value = data.zonecode;
                    document
                        .getElementById("street_address")
                        .value = roadAddr;
                    document
                        .getElementById("jibeon_address")
                        .value = data.jibunAddress;

                    var guideTextBox = document.getElementById("guide");
                    // 사용자가 '선택 안함'을 클릭한 경우, 예상 주소라는 표시를 해준다.
                    if (data.autoRoadAddress) {
                        var expRoadAddr = data.autoRoadAddress + extraRoadAddr;
                        guideTextBox.innerHTML = '(예상 도로명 주소 : ' + expRoadAddr + ')';
                        guideTextBox.style.display = 'block';

                    } else if (data.autoJibunAddress) {
                        var expJibunAddr = data.autoJibunAddress;
                        guideTextBox.innerHTML = '(예상 지번 주소 : ' + expJibunAddr + ')';
                        guideTextBox.style.display = 'block';
                    } else {
                        guideTextBox.innerHTML = '';
                        guideTextBox.style.display = 'none';
                    }
                }
            })
            .open();
    }
</script>

<!-- ======= Join Section ======= -->
<section class="common">
  <div class="container">
    <div class="form_txtInput">
      <h3 class="text-center mb-5">회원가입</h3>
      <form class="join_form" th:action="@{/members/new}" th:object="${memberForm}" method="post">
        <table>
          <colgroup>
            <col width="30%"/>
            <col width="auto"/>
          </colgroup>
          <tbody>
          <tr>
            <th rowspan="2"><span>아이디</span></th>
            <td>
              <input class="table_input width70" type="email" id="email" th:field="*{email}" placeholder="ex) abcdef1234@gmail.com">
              <input id="check_email" class="table_input width30" type="button" value="인증번호 발송"/>
              <div class="field-error" th:errors="*{email}"></div>
            </td>
          </tr>
          <tr>
            <td>
              <input id="authNum" class="table_input width70" type="text" placeholder="인증번호를 입력해주세요" required>
              <input id="check_authNum" class="table_input width30" type="button" value="인증번호 확인"/>
              <input id="authNum_tf" type="hidden" th:field="*{emailAuth}"/>
              <div class="field-error" th:errors="*{emailAuth}"></div>
            </td>
          </tr>
          <tr>
            <th><span>이름</span></th>
            <td>
              <input class="table_input" type="text" id="name" th:field="*{name}" placeholder="" required>
              <div class="field-error" th:errors="*{name}"></div>
            </td>
          </tr>
          <tr>
            <th><span>비밀번호</span></th>
            <td>
              <input class="table_input" type="password" id="password1" th:field="*{password1}" placeholder="비밀번호를 입력해주세요">
              <div class="field-error" th:errors="*{password1}"></div>
            </td>
          </tr>
          <tr>
            <th><span>비밀번호 확인</span></th>
            <td>
              <input class="table_input" type="password" id="password2" th:field="*{password2}" placeholder="비밀번호를 확인하세요">
              <div class="field-error" th:errors="*{password2}"></div>
            </td>
          </tr>
          <tr>
            <th><span>주소</span></th>
            <td>
              <input class="table_input width100px" type="text" th:field="*{zipcode}" id="zipcode" placeholder="우편번호" required>
              <div class="field-error" th:errors="*{zipcode}"></div>
              <input class="table_input width100px" type="button" onclick='execDaumPostcode()' value="우편번호 찾기"><br>
              <input class="table_input" type="text" th:field="*{street_address}" id="street_address" placeholder="도로명주소" required>
              <div class="field-error" th:errors="*{street_address}"></div>
              <input class="table_input" type="text" th:field="*{jibeon_address}" id="jibeon_address" placeholder="지번주소" required>
              <div class="field-error" th:errors="*{jibeon_address}"></div>
              <span id="guide" style="color:#999;display:none"></span>
              <input class="table_input" type="text" th:field="*{detail_address}" id="detail_address" placeholder="상세주소" required>
            </td>
          </tr>
          <tr>
            <th><span>휴대폰 번호</span></th>
            <td>
              <input class="table_input" type="text" id="phone" th:field="*{phone}" placeholder="ex) 01012341234" required>
              <div class="field-error" th:errors="*{phone}"></div>
            </td>
          </tr>
          </tbody>
        </table>
        <div class="exform_txt">
          <span>표시는 필수적으로 입력해주셔야 가입이 가능합니다.</span>
        </div>
        <div class="btn_wrap">
          <button type="button" id="submit_join" class="btn btn-dark submit_join">가입하기</button>
        </div>
      </form> <!-- join_form E -->
    </div> <!-- form_txtInput E -->
  </div> <!--content E-->
</section> <!-- common E -->

<!-- ======= Footer ======= -->
<footer th:replace="fragments/footer :: footer" id="footer"></footer>

<script th:inline="javascript">
  /** ====== join ====== **/
   let formValues = {};

$("#check_join").click(function () {
  // Store form values
  formValues = {
    email: $("#email").val(),
    name: $("#name").val(),
    password1 : $("#password1").val(),
    password2 : $("#password2").val(),
    zipcode : $("#zipcode").val(),
    street_address : $("#street_address").val(),
    jibeon_address : $("#jibeon_address").val(),
    detail_address : $("#detail_address").val(),
    phone : $("#phone").val(),
    emailAuth : $("#authNum_tf").val()
  };

  // Check if email is empty
  if (!formValues.email) {
    alert('📩 이메일을 입력해주세요.');
    return;
  }

  var param = Object.assign({}, formValues);

  console.log(param);
  console.log(JSON.stringify(param));

  $.ajax({
    type   : "POST",
    url    : "/members/new",
    contentType: 'application/json',
    data   : JSON.stringify(param),
    success: function (result) {
      alert('🐕 회원가입이 완료 되었습니다. 🐈');
      location.href='/';
    },
    error  : function(jqXHR) {
      alert(jqXHR.responseText);
      location.href='/members/new';
    }
  });
});

/** ====== Email Auth ====== **/
let resultAuthNum = 0; // 인증번호 저장 전역변수

$("#check_email").click(function () {
  let email = $("#email").val();

  // Check if email is empty
  if (!email) {
    alert('📩 이메일을 입력해주세요.');
    return;
  }

  let data = {
    email: email
  };
  console.log(data);

  $.ajax({
    type: "POST",
    url: "/members/email",
    contentType: 'application/json',
    data: JSON.stringify(data),
    success: function onData(result) {
      console.log(result);
      resultAuthNum = result;
      let msg = '📩 인증번호가 발송되었습니다.\n';
      msg += '📩 이메일을 확인해주세요.';
      alert(msg);
    },
    error: function(jqXHR) {
      alert('📩 이메일을 입력해주세요.');
    }
  });
});

$("#check_authNum").click(function () {
  if(resultAuthNum == $("#authNum").val()){
    alert("이메일 인증이 완료되었습니다 😊");
    $("#authNum_tf").val("true");
  } else {
    alert("인증번호가 일치 하지 않습니다.\n다시 입력해주세요.");
  }
});
</script>
</body>
</html>